[tool.poetry]
name = "mod-cli"
version = "0.1.0"
description = ""
authors = ["Henry.Huang <hhglory@outlook.com>"]
readme = "README.md"
packages = [{include = "mod_cli", from = "src"}]


[tool.poetry.scripts]
mod = "mod_cli.main:app"
modep = "mod_cli.main:app"  # aliase name
mod-cli = "mod_cli.main:app" # aliase name

[tool.poetry.dependencies]
python = "^3.10"
loguru = "^0.7.2"
typer = {extras = ["all"], version = "^0.9.0"}
tomlkit = "^0.12.3"
rich = "^13.7.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
